/*global*/
body{
    background-color: beige;
    font-family: arial;
}
a{
    color: black;
    text-decoration: none;
    }

    /*utilties*/
    .failing{
        font-weight: bold;
    }
    /*header*/
    .site-init{
        height: 120px;
    }
    .navigation-bar{
        display: flex;
        justify-content: space-around;
    }
    .bars{
        display: none;
        width: 30px;
    }
    .menu-table,td,th{
        border: 1px solid black;
        border-collapse: collapse;
    }

    .menu-table th{
width: 400px;
height: 30px;
background-color:cornflowerblue;
    }
    .menu-table td{
        padding: 10px;
        text-align: center;
        background-color: aliceblue;
    }

    /*main: desktop view*/
    .dish-month-container{
        display: flex;
        justify-content: space-between;
    }
    .dish-month-img{
        width: 50%;
        margin-top: 10%;
    }

    .dish-month-text{
        width: 50%;
       
    }
    /*mobile view*/
    @media(max-width:768px){
        .bars{
        display: inline-block;
        width: 30px;
        }
        .dish-month-container{
            flex-direction: column;
        }
        .dish-month-img{
            width: 100%;
        }
        .dish-month-text{
            width: 100%;
            font-size: 100%;
        }
    }

    .all-dishes-container{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 50%;
    }
    .dish-container{
        background-color: cornflowerblue;
        width: 30%;
    }
    @media(max-width:768px){
        .all-dishes-container{
            flex-direction: column;
        }
    }

    .steak-img{
        width: 200px;
        height: 200px;
    }

    .restaurant-title{
        font-family: 'Franklin Gothic Medium';
        font-size: 60px;
        color: cornflowerblue;
    }
    /*Top Title*/
    .top-title{
        margin-top: 3%;
        text-align: center;
        color: cornflowerblue;
        font-size: 60px;
        font-family: 'Franklin Gothic Medium';
    }

    /*BBQ Title*/
    .BBQ-title{
        margin-top: 20%;
        text-align: center;
        color: cornflowerblue;
        font-size: 60px;
        font-family: 'Franklin Gothic Medium';
    }
    
    /*TO-GO*/
    .to-go-payment{
    text-align: left;
    margin-left: 30%;
    margin-right: 750px;
    margin-top: 50%;
    padding: 150px;
    padding-bottom: 1%;
    background-color: cornflowerblue;
    border-color: black;
    border-radius: 40px;

    }
.logo{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 20%;
}
